* {
    margin:0;
    padding:0;
    outline:0;
}
body {
    font-size:12px;
    line-height:1.3;
    font-family:'Baumans';
    color:#ccc;
    background:url('images/fondo_gris.jpg');
}
a {
    color:#e7b038;
    text-decoration:underline;
    cursor:pointer;
}
a:hover {
    text-decoration:none;
}
a img {
    border:0;
}
input, textarea, select {
    font-size:12px;
    font-family:'Baumans';
    border-radius:4px;
    -moz-border-radius: 10px 10px;
    text-indent: 4px;
}

#cajaEscrita{
    color:#ff361a;
}
textarea {
    overflow:auto;
}
.cl {
    display:block;
    height:0;
    font-size:0;
    line-height:0;
    text-indent:-4000px;
    clear:both;
}
.notext {
    font-size:0;
    line-height:0;
    text-indent:-4000px;
}
.left, .alignleft {
    float:left;
    display:inline;
}
.right, .alignright {
    float:right;
    display:inline;
}
.text-right {
    text-align:right;
    padding-right: 21px;
}
h2 {
    font-size:16px;
    color: #413e3e;
    font-weight:bold;
    
}
h3 {
    font-size:14px;
    color: #787878;
    font-weight:bold;
}
h4 {
    font-size:14px;
    color:#f3b12b;
    font-weight:bold;
}
#shell {
    width:980px;
    margin:auto;
}
#header {
    position: relative;
}

h1#logo {
    position:absolute;
    top: 0px;
    left:0;
}
h1#logo a {
    float:left;
    width:239px;
    height:120px;
    background:url('images/filmly_logo.png') no-repeat 0 0;
    font-size:0;
    line-height:0;
    text-indent:-4000px;
}
.social {
    float:right;
    width:160px;
    padding-top:11px;
}
.social span {
    float:left;
    display:inline;
    font-size:10px;
    color:#9f9f9f;
    line-height:16px;
    padding-right:5px;
}
.social ul {
    list-style:none;
}
.social ul li {
    float:left;
    display:inline;
    width:16px;
    padding-right:2px;
}
.social ul li a {
    float:left;
    display:inline;
    width:16px;
    height:16px;
    background:url('images/social.gif') no-repeat 0 0;
    font-size:0;
    line-height:0;
    text-indent:-4000px;
}
.social ul li a.facebook {
    background-position:-18px 0;
}
.social ul li a.vimeo {
    background-position:-36px 0;
}
.social ul li a.rss {
    background-position:-54px 0;
}
#navigation {
    float:right;
    clear:right;
    padding-top:28px;
    padding-bottom:47px;
}
#navigation ul {
    list-style:none;
}
#navigation ul li {
    float:left;
    display:inline;
    padding-left:29px;
}
#navigation ul li a {
    font-size:14px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
}
#navigation ul li a.active, #navigation ul li a:hover {
    color:#d91d2a;
}

#navigation-home {
    float:right;
    clear:right;
    padding-top:12px;
    padding-bottom:104px;
    color: #ffffff;
    font-size: 16px;
}

#cssBusqueda{
    position: relative;
    top:-146px;
    left: -320px;
}

#sub-navigation {
    display:block;
    clear:right;
    padding:10px 0;
}
#sub-navigation ul {
    list-style:none;
}
#sub-navigation ul li {
    float:left;
    display:inline;
    padding-right:23px;
}
#sub-navigation ul li a {
    font-size:14px;
    font-weight:bold;
    color:#fff;
    line-height:24px;
    text-decoration:none;
}
#sub-navigation ul li a:hover {
    text-decoration:underline;
}
#search {
    width:346px;
    margin:0 0 0 auto;
}

#cssUsuarios{
    position: relative;
    right:200px;
    top:-14px;
}

#cssPassword{
    position: relative;
    right:37px;
    top:-35px;
}

#cssLogin{
    position: relative;
    left:70px;
    top:-56px;
}

#cssRegistro{
    position: relative;
    left:68px;
    top:-50px;
    text-decoration: underline;
}


#search label {
    float:left;
    display:inline;
    font-size:50px;
    font-weight:bold;
    color:#fff;
    line-height:24px;
    padding-right:6px;
}
#search .search-field {
    width:290px;
    height: 25px;
    border:1px solid #9c9c9c;
    background:#fff;
    color:#787878;
    padding:2px 0 2px 2px;
}
#search .search-button {
    font-size:20px;
    font-weight:bold;
    border:0;
    background:none;
    color:#fff;
    cursor:pointer;
}
#main {
    
}
#content {
    position: relative;
    top: -110px;
    left:0px;
    border: 1px solid #413e3e;
    background-color: #ffffff;
    

}
#content-registro {
    position: relative;
    top: -110px;
    left:0px;
    height: 475px;
    border: 1px solid #413e3e;
    background-color: #ffffff;
    background-image: url('css/images/fondo.png');
    

}
.box {
    width:957px;
    padding-bottom:21px;
    padding-left: 10px;
    padding-right: 10px;
}
.box .head {
    width:980px;
    padding-top:14px;
    padding-bottom:11px;
}
.box .head h2 {
    float:left;
    display:inline;
}
.box .movie {
    width:149px;
    float:left;
    padding-right:12px;
}
.movie-image {
    float:left;
    width:152px;
    height:214px;
    position:relative;
}
.movie-image img {
    width:152px;
    height:214px;
}
.movie-image a {
    float:left;
    display:inline;
    width:152px;
    height:214px;
    position:relative;
    z-index:2;
}
.play {
    position:absolute;
    top:0;
    left:0;
    width:152px;
    height:214px;
    background:url('images/image-hover.png');
    display:block;
    z-index:5;
    cursor:pointer;
    display:none;
}
.movie span.name {
    font-weight:bold;
    color:#fff;
    font-size:14px;
    text-align:center;
    padding-top:160px;
    display:block;
}
.box .last {
    padding:0;
}
.rating {
    float:left;
    width:152px;
    padding-top:8px;
}
.rating p {
    float:left;
    font-size:10px;
    color:#fff;
    font-weight:bold;
}
.rating .stars {
    float:left;
    width:60px;
    height:11px;
    background:url('images/stars.gif') no-repeat 0 0;
    margin-left:2px;
}
.rating .stars-in {
    width:48px;
    display:inline;
    background:url('images/stars.gif') no-repeat 0 bottom;
    position:absolute;
    height:11px;
    font-size:0;
    line-height:0;
    text-indent:-4000px;
}
.comments {
    position: relative;
    top: 3px;
    left:26px;
}
.img-comments {
    position: relative;
    top: 6px;
    left: 20px;
}
.num-comments {
   position: relative;
    top: -10px;
    left: 130px; 
}
#news {
    width:460px;
    float:left;
}
#news .head {
    width:460px;
    padding-top:11px;
    padding-bottom:14px;
}
#news h3, #coming h3 {
    float:left;
}
#coming {
    width:490px;
    float:left;
    padding-left:30px;
}
#coming .head {
    width:490px;
    padding-top:11px;
    padding-bottom:14px;
}
#coming .head strong {
    color:#ff361a;
}
#coming .content {
    min-height:130px;
    height:auto !important;
    height:130px;
    padding-bottom:20px;
}
#coming .content h4 {
    padding-bottom:3px;
}
.content {
    padding-bottom:28px;
}
.content .date {
    font-size:10px;
    color:#fff;
}
.content img {
    float:left;
    width:68px;
    padding-right:8px;
}
.content p {
    font-size:13px;
    color:#fff;
    line-height:16px;
}
.content a {
    font-size:11px;
}
#footer {
    padding:15px 0 0 0;
    font-size:10px;
}
#footer, #footer a {
    color:#9c9c9c;
    text-decoration:none;
}
#footer a:hover {
    text-decoration:none;
}
#footer p {
    margin:0;
    padding:0 0 11px 0;
    line-height:normal;
    white-space:nowrap;
}
#footer .lf {
    float:left;
}
#footer .rf {
    float:right;
}

.botonRegistro {
    -moz-box-shadow: 0px 0px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 0px 0px 0px #fff6af;
    box-shadow: 0px 0px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.botonRegistro:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
.botonRegistro:active {
    position:relative;
    top:1px;
}

.botonLogin {
    background-color:#db2929;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:0px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Baumans';
    font-size:15px;
    font-weight:bold;
    padding:1.5px 10px;
    text-decoration:none;
}
.botonLogin:hover {
    color: #fff;
    border-bottom: 0px solid #CFDCE8;
    background-color: #dce6ef;
    background-image: -moz-linear-gradient(#ee6363, #ee6363);
    background-image: -webkit-linear-gradient(#ee6363, #ee6363);
    background-image: linear-gradient(#cc3232, #ee6363);
    background-repeat: repeat-x;
}
.botonLogin:active {
    position:relative;
    top:1px;
}

.dashboard {
    position: relative;
    top: -90px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#db2929, #db2929);
    background-repeat: repeat-x;
    border: 0px solid #eaeaea;
    border-bottom-color: #fff;
    border-radius: 0px;
}

ul {
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.dashboard a {
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #eee;
    border-right-color: rgba(0,0,0,0.04);
    border-left: 1px solid #fcfcfc;
    border-left-color: rgba(255,255,255,0.7);
    border-bottom: 0px solid #DADADA;

}

.dashboard a.selected, .dashboard a.selected:hover {
    color: #000;
    background-color: #ebebeb;
    background-image: -moz-linear-gradient(#ee6363, #ee6363);
    background-image: -webkit-linear-gradient(#ee6363, #ee6363);
    background-image: linear-gradient(#ee6363, #ee6363);
    background-repeat: repeat-x;
    border-bottom: 0px solid #D26911;
}

.dashboard a:hover {
    color: #fff;
    border-bottom: 0px solid #CFDCE8;
    background-color: #dce6ef;
    background-image: -moz-linear-gradient(#ee6363, #ee6363);
    background-image: -webkit-linear-gradient(#ee6363, #ee6363);
    background-image: linear-gradient(#cc3232, #ee6363);
    background-repeat: repeat-x;
}

.dashboard li {
    list-style-type: none;
    margin: 0;
    display: table-cell;
    width: 900px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.valoracion ul {
    position: relative;
    top: 0px;
    left: 0px;
}

.container {
    width: 938px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rating{
    width:80px;
    height:16px; 
    margin:0 0 20px 0;
    padding:0;
    list-style:none;
    clear:both;
    position:relative;
    top: 5px;
    background: url(images/star-matrix.gif) no-repeat 0 0;
}
/* add these classes to the ul to effect the change to the correct number of stars */
.nostar {background-position:0 0}
.onestar {background-position:0 -96px}
.twostar {background-position:0 -112px}
.threestar {background-position:0 -128px}
.fourstar {background-position:0 -144px}
.fivestar {background-position:0 -160px}
ul.rating li {
    cursor: pointer;
 /*ie5 mac doesn't like it if the list is floated\*/
    float:left;
    /* end hide*/
    text-indent:-999em;
}
ul.rating li a {
    position:absolute;
    left:0;
    top:0;
    width:16px;
    height:16px;
    text-decoration:none;
    z-index: 200;
}
ul.rating li.one a {left:0}
ul.rating li.two a {left:16px;}
ul.rating li.three a {left:32px;}
ul.rating li.four a {left:48px;}
ul.rating li.five a {left:64px;}
ul.rating li a:hover {
    z-index:2;
    width:80px;
    height:16px;
    overflow:hidden;
    left:0; 
    background: url(images/star-matrix.gif) no-repeat 0 0
}
ul.rating li.one a:hover {background-position:0 -96px;}
ul.rating li.two a:hover {background-position:0 -112px;}
ul.rating li.three a:hover {background-position:0 -128px}
ul.rating li.four a:hover {background-position:0 -144px}
ul.rating li.five a:hover {background-position:0 -160px}

.puntuacion{
    width:50px;
    height:50px;
    margin:0 0 20px 0;        
    background: url(images/puntuacion.jpg) no-repeat 0 0;
}
/* add these classes to the ul to effect the change to the correct number of stars */
.rojo {background-position:0 0}
.amarillo {background-position:0 -170px}
.verde {background-position:0 -340px}
.naranja {background-position:0 -510px}
.azul {background-position:0 -680px}

.valor-puntuacion{
        color: #fafafa;
        font-size: 30px;
}

.decimal{
    padding-left: 5px;
    padding-top: 6px;
}

.entero{
    padding-left: 17px;
    padding-top: 6px;
}

.comentario{
    width:50px;
    height:50px;
}

.caja-texto {
    float:left;
    font-size:50px;
    color:#fff;
    line-height:24px;
    padding-right:6px;
    border: solid;
    border-width: 1px;
    margin-bottom: 5px;
}

.image-poster {
    width: 150px;
    height: auto;
}

.image-ficha {
    position: relative;
    top: 30px;
    left: 70px;
}

.titulo-ficha {
    font-weight: bold;
    color: #000;
    font-size: 30px;
    width: 450px;
}

.duracion-ficha {
    position: relative;
    top: 0px;
    left: 0px;
}
